<app-profile-navbar></app-profile-navbar>


<div id="p" class="container jumbotron col-sm-6 ">

  <div class="register">

    <h1>Reset Password</h1>
    <form #form="ngForm" (ngSubmit)="resetPassword(form.value)">

      <Label>
        <h5 class="fntcolr">Current password</h5>
      </Label>
      <h5>
        <input type="password" class="ng-untouched" placeholder="Current Password" required="required" name="Current_password"
          [(ngModel)]="Current_password" />
      </h5>

      <label>
        <h5 class="fntcolr">New Password</h5>
      </label>
      <input type="password" class="ng-untouched" name="new_password" placeholder="New Password" required="required" [(ngModel)]="new_password"/>
     
      <label>
        <h5 class="fntcolr">Confirm Password</h5>
      </label>
      <input type="password" class="ng-untouched" name="confirm_password" placeholder="Confirm Password" required="required" [(ngModel)]="confirm_password"/>
     

      <div class="btn-toolbar">
        <button type="submit" class="col-sm-4 btn btn-primary btn-block btn-large" >
          <!--  ****************** -->

          <h5 class="fntcolr">Reset</h5>

        </button>
        <br>

        <br>
        <a type="cancel" href="reset-password" class="col-sm-4 btn btn-primary btn-block btn-large">
          <h5 class="fntcolr">Cancel</h5>
        </a>
      </div>
    </form>

    <br>


  </div>
</div>