.jumbotron {
    background-image: url('http://ryanwaikin.myblog.arts.ac.uk/files/2012/05/background-draft-jpeg.jpeg');
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #c2ced9;
    border-radius: .3rem;
}

h5{
    font-weight: 900;
}

label{
    font-weight: 800;
    font-size: 20px;
    color: rgb(2, 49, 10)
}
li{
    background-color: rgb(20, 153, 153);
    font-size: 20px;
    color: rgb(16, 43, 43);
    font-weight: 700;
}